@import "tailwindcss";

body {
  width: 320px;
  height: 420px;
  position: relative;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.uncial-antiqua {
  font-family: "Uncial Antiqua", serif !important;
}
